@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
@import 'tailwindcss';
@import '@stackflow/plugin-basic-ui/index.css';

* {
  font-family: 'Pretendard', sans-serif;
}

/* html,
body {
  overscroll-behavior-y: none;
  overscroll-behavior: none;
  touch-action: pan-y;
}

#root {
  overscroll-behavior-y: none;
  overscroll-behavior: none;
} */
